{% extends "base.html" %}

{% block title %}Mi Blog: {{ articulo.titulo }}{% endblock %}

{% block content %}
    <h1>{{ articulo.titulo }}</h1>
    <p>{{ articulo.contenido }}</p>
    <p>Autor: {{ articulo.autor.username }}</p>
    <p><em>{{ articulo.fecha_publicacion }}</em></p>

    {% if user == articulo.autor or user.is_staff or user.is_superuser %}
        <a href="{% url 'editar_articulo' articulo.pk %}">Editar</a> |
        <a href="{% url 'eliminar_articulo' articulo.pk %}">Eliminar</a>
    {% endif %}

    {% include 'comments/comentarios.html' %}
{% endblock %}
