{% extends "base.html" %}

{% block hero_title %}Destacados en Mi Blog{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
        {% for articulo in articulos %}
            <div class="col-12 mb-4">
                <div class="row g-4 align-items-center">
                    <!-- Imagen destacada del artículo (si existe) -->
                    <div class="col-md-4">
                        {% if articulo.fotos.all %}
                            <img src="{{ articulo.fotos.first.url_foto }}" alt="{{ articulo.fotos.first.descripcion }}" class="img-fluid rounded">
                        {% endif %}
                    </div>
                    
                    <!-- Detalles del artículo -->
                    <div class="col-md-8">
                        <h5 class="mb-2">
                            <a href="{% url 'articulo' articulo.pk %}" class="text-decoration-none text-dark">
                                {{ articulo.titulo }}
                            </a>
                        </h5>
                        <p class="text-muted mb-2">
                            <strong>Publicado:</strong> {{ articulo.fecha_publicacion|date:"d M Y" }}<br>
                            <strong>Autor:</strong> {{ articulo.autor.username }}<br>
                            <strong>Categoría:</strong> {{ articulo.categoria.nombre_categoria }}
                        </p>
                        <p class="mb-3">
                            {{ articulo.contenido|truncatewords:30 }}
                        </p>
                        <a href="{% url 'articulo' articulo.pk %}" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
