{% extends "base.html" %}

{% block title %}Lista de artículos en Mi Blog{% endblock %}

{% block content %}
    <ul>
        {% for articulo in articulos %}
            <li>
                <a href="{% url 'articulo' articulo.pk %}" style="text-decoration: none; color: inherit; display: block;">
                    <h2>{{ articulo.titulo }}</h2>
                    <p><strong>Publicado:</strong> {{ articulo.fecha_publicacion }}</p>
                    <p><strong>Autor:</strong> {{ articulo.autor.username }}</p>
                    <p><strong>Categoría:</strong> {{ articulo.categoria.nombre_categoria }}</p>
                    <div>
                        {{ articulo.contenido|truncatewords:30 }}
                    </div>
                    {% if articulo.fotos.all %}
                        <div>
                        <strong>Fotos:</strong>
                        {% for foto in articulo.fotos.all %}
                            <img src="{{ foto.url_foto }}" alt="{{ foto.descripcion }}" width="200">
                        {% endfor %}
                        </div>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}