{% extends 'base.html' %}

{% block hero_title %}Categorías en Mi Blog{% endblock %}
{% block hero_description %}Explora las categorías de artículos disponibles en nuestro blog.{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if categorias %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for categoria in categorias %}
                <div class="col">
                    <div class="card h-100 shadow-sm border-light">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <a href="{% url 'categoria' categoria.id %}" class="text-decoration-none text-dark">
                                    {{ categoria.nombre_categoria }}
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No hay categorías disponibles.</p>
    {% endif %}
</div>
{% endblock %}
