# .gitignore en la raíz del proyecto

# Archivos sensibles
.env
*.env

# Archivos de Python
__pycache__/
*.pyc

# Archivos de Django
db.sqlite3

# Archivos generados por el sistema o editores
*.log
.vscode/
.idea/

# Entorno virtual
venv/

# Ideas
ideas/

# Media
media/

# Respaldos
*_old.*
